<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main>
    <header class="header">
        <div>
            <nav class="navbar">
                <img class="logo" src="../img/logo-eco-market-100x100.png">
                    <ul>
                        <a href="../index.html" class="boton_inicio">Home</a>
                        <a href="../views/ofertas.html" class="boton_inicio">Ofertas</a>
                        <a href="../views/productos.html" class="boton_inicio">Productos</a>
                        <a href="../views/Categorias.html" class="boton_inicio">Categorias</a>
                        <a href="../views/contacto.html" class="boton_inicio">Contacto</a>
                        <a href="../views/comentarios.html" class="boton_inicio">Comentario</a>
                        <a href="../views/calculadora.html" class="boton_inicio">calculadora</a>
                    </ul>
                    <input class="boton_busqueda" type="search" placeholder="Buscador ">
            </nav>
        </div>
    </header>
    <section class="formulario entrada-izquierda">
            <h2 class="centrar-for">Calculadora de Huella de Carbono</h2>
            <div class="centrar-for">

                <strong>🏠 Hogar y Energía</strong>
    
                <form action="#" method="post">
                    
                    <p>
                        <label for="programa-interes">¿Qué fuente de energía usas en casa?:</label><br>
                        <select id="programa-interes" name="programa_interes" required>
                            <option value="">Electricidad</option>
                            <option value="html-css">Gas natural</option>
                            <option value="javascript">Propano</option>
                        </select>
                    </p>
                    <p>
                        <label for="nombre">¿Cuál es tu consumo mensual promedio?</label><br>
                        <input class="boton_for" type="text" id="nombre" name="nombre" placeholder="Ejemplo: Ana Pérez" required>
                    </p>
    
                    <p>¿Utilizas electrodomésticos de bajo consumo (etiqueta A, A+, A++)?</p>
                    <p>
                        <input type="radio" id="si" name="electrodomésticos de bajo consumo" value="si">
                        <label for="presencial">Si</label>
                    </p>
                    <p>
                        <input type="radio" id="si" name="modalidad" value="virtual">
                        <label for="virtual">No</label>
                    </p>
                    <fieldset>
                        <legend>Intereses del estudiante</legend>
    
                        <p>
                            <input type="checkbox" id="frontend" name="intereses" value="frontend">
                            <label for="frontend">Diseño de páginas web</label>
                        </p>
                        <p>
                            <input type="checkbox" id="formularios" name="intereses" value="formularios">
                            <label for="formularios">Formularios y recolección de datos</label>
                        </p>
                        <p>
                            <input type="checkbox" id="proyectos" name="intereses" value="proyectos">
                            <label for="proyectos">Crear proyectos reales</label>
                        </p>
                        <p>
                            <input type="checkbox" id="automatizacion" name="intereses" value="automatizacion">
                            <label for="automatizacion">Automatización de tareas y procesos</label>
                        </p>
                    </fieldset> 
                    <p>
                        <button type="submit">Enviar registro</button>
                        <button type="reset">Limpiar formulario</button>
                    </p>
                </form>
            </div>
    </section>
    </header>
    </main>
   
        <footer id="abajo-pagina" class="abajo-pagina" >
            <div class="contenedor-footer">
                <h3 class="centrar-texto">NUESTRAS REDES SOCIALES</h3>
                <p class="centrar-texto">Conose mas de nosotros en nuestras redes sociales</p>
            
                <div class="redes-sociales">
                    <a class="alinear_al_centro" href="https://www.facebook.com/ecomarketsaludable" target="_blank" rel="noopener">
                        <img src="../img/logofb-removebg-preview.png" alt=""></a>
                    <a class="alinear_al_centro" href="https://www.instagram.com/ecomarketsaludable/" target="_blank" rel="noopener">
                        <img src="../img/il_fullxfull.5312137777_qj67-removebg-preview.png" alt=""></a>
                    <a class="alinear_al_centro" href="https://www.tiktok.com/@ecomarket.official" target="_blank" rel="noopener">
                        <img src="../img/logotiktok-removebg-preview.png" alt=""></a>
                </div>
            </div>
        </footer>
</body>
</html>